<div class="auth_form">
	<form novalidate [formGroup]="authForm">
		<label class="auth_form__field">
			<span class="auth_form__field-name">Логин</span>
			<md-input class="auth_form__field-value" type="text" 
			maxlength="50" class="md-input" formControlName="name" (keyup.enter)=onEnter($event)></md-input>
		</label>
		<label class="auth_form__field">
			<span class="auth_form__field-name">Пароль</span>
			<md-input class="auth_form__field-value" type="password" 
			maxlength="50" class="md-input" formControlName="password" (keyup.enter)=onEnter($event)></md-input>
		</label>
	</form>
</div>