@import '../../assets/styles/_vars.scss';

.doc-detail {
	width: 45%;
	margin: 0 auto;
	font-size: 0.8em;
	margin-bottom: 40px;

	&__label {
		font-style: italic;
		font-weight: bold;
	}

	&-section__title {
		font-style: italic;
		font-weight: bold;		
	}
}