<md-select multiple="true" >
      <md-option >1</md-option>
      <md-option >2</md-option>
      <md-option >3</md-option>
       <md-option >1</md-option>
      <md-option >2</md-option>
      <md-option >3</md-option>
       <md-option >1</md-option>
      <md-option >2</md-option>
      <md-option >3</md-option>
       <md-option >1</md-option>
      <md-option >2</md-option>
      <md-option >3</md-option>
       <md-option >1</md-option>
      <md-option >2</md-option>
      <md-option >Отдел информатизации</md-option>
</md-select>