@import '../../assets/styles/_vars.scss';

.filelist {
	min-width: 200px;
	box-shadow:0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
	transform:translate3d(0,0,0);

	&-wrapper {
		display: inline-block;
	}

	svg {
		fill: transparent;
	}

	&__del-item {
		margin-left: 15px;
	}

	&__list-item:hover {
		color: $text;
	}

	&__list-item:hover  svg{
		fill: currentColor;
	}

	&__list-item:hover  &__del-item:hover {
		color: md-color($warn);
	}

	&__list-item:hover  &__del-item:hover svg{
		fill: currentColor;
	}
}

.load-btn {
	vertical-align: top;
	margin: 0 10px 10px 0;
}
