<button md-icon-button [mdMenuTriggerFor]="menu" class="menu-toggle">
	<md-icon>
		<svg viewBox="0 0 24 24">
			<use xlink:href="#app-menu"></use>
		</svg> 
	</md-icon>
</button>

<md-menu #menu="mdMenu">
    <button md-menu-item routerLink="search" class="menu-item"> 
    	<md-icon>
			<svg viewBox="0 0 24 24">
				<use xlink:href="#search"></use>
			</svg> 
		</md-icon>
    	Искать 
    </button>
    <button md-menu-item routerLink="doc/0" (click)="reloadDoc()" class="menu-item"> 
    	<md-icon>
			<svg viewBox="0 0 24 24">
				<use xlink:href="#plus"></use>
			</svg> 
		</md-icon>
		Добавить 
	</button>
    <button md-menu-item routerLink="catalogs" class="menu-item"> 
    	<md-icon>
			<svg viewBox="0 0 24 24">
				<use xlink:href="#settings"></use>
			</svg> 
		</md-icon>
    	Настройки 
    </button>
</md-menu>
