<div class="catalogs-wrapper">
	<md-card class="item" routerLink="sections">
		<md-card-title class="item__title">Справочник разделов</md-card-title>
		<div class="item__image  item__image--first">
			<svg viewBox="0 0 24 24">
				<use xlink:href="#catalog"></use>
			</svg> 
		</div>
	</md-card>
	<md-card class="item" routerLink="groups">
		<md-card-title class="item__title">Справочник групп</md-card-title>
		<div class="item__image">
			<svg viewBox="0 0 24 24">
				<use xlink:href="#catalog"></use>
			</svg> 
		</div>
	</md-card>
	<md-card class="item" routerLink="garbagecollector">
		<md-card-title class="item__title">Сборщик мусора</md-card-title>
		<div class="item__image">
			<svg viewBox="0 0 24 24">
				<use xlink:href="#catalog"></use>
			</svg> 
		</div>
	</md-card>
</div>
