/* You can add global styles to this file, and also import other style files */
@import './assets/styles/vars.scss';

$theme: md-light-theme($primary, $accent);

@include angular-material-theme($theme);


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-width: 600px;
}

a {
	text-decoration: none;
	color: md-color($primary);

	&:hover {
		color: md-color($warn);
	}
}